{:blocks (
{:block/content "原子結合方案"
:block/format :markdown
:block/left 
{:block/uuid #uuid "661a3106-31b7-40a6-a4e8-1f264614ed0a"}
:block/parent 
{:block/uuid #uuid "661a3106-31b7-40a6-a4e8-1f264614ed0a"}
:block/properties 
{}
:block/uuid #uuid "661a316a-5f57-488c-ba6e-1690beca0d4c"} 
{:block/created-at 1712993697048
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "661a316a-5f57-488c-ba6e-1690beca0d4c"
:scaleLevel "xxl"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [368 122.63849444123501]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "d04574d0-f965-11ee-a380-85ca1cd026a4"
:noFill false
:point [712 232]
:parentId "661a3106-31b7-40a6-a4e8-1f264614ed0a"
:collapsedHeight 0
:nonce 1712992617888}}
:block/updated-at 1712993697048} 
{:block/created-at 1712993834234
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "離子鍵"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [544 801.5767977029503]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "d8c2c400-f965-11ee-a380-85ca1cd026a4"
:noFill false
:point [680 624]
:parentId "661a3106-31b7-40a6-a4e8-1f264614ed0a"
:collapsedHeight 138.88959503173828
:nonce 1712992632691}}
:block/updated-at 1712993834234} 
{:block/content "分為 [[離子鍵]]、[[共價鍵]]、[[金屬鍵]]"
:block/format :markdown
:block/left 
{:block/uuid #uuid "661a316a-5f57-488c-ba6e-1690beca0d4c"}
:block/parent 
{:block/uuid #uuid "661a3106-31b7-40a6-a4e8-1f264614ed0a"}
:block/properties 
{}
:block/uuid #uuid "661a35a6-489c-430c-bc4c-9b679d417a9b"} 
{:block/created-at 1712993726488
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "661a35a6-489c-430c-bc4c-9b679d417a9b"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 40.87953461335478]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "567c3640-f968-11ee-a380-85ca1cd026a4"
:noFill false
:point [712 416]
:parentId "661a3106-31b7-40a6-a4e8-1f264614ed0a"
:collapsedHeight 0
:nonce 1712993701984}}
:block/updated-at 1712993726488} 
{:block/created-at 1712993738073
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 3
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "664e0c12-f968-11ee-a380-85ca1cd026a4"
:fontWeight 400
:noFill true
:point [895.76 355.64]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0.11 0]
:bindingId "664e0c10-f968-11ee-a380-85ca1cd026a4"}
:end 
{:id "end"
:canBind true
:point [0 56.36]
:bindingId "664e0c11-f968-11ee-a380-85ca1cd026a4"}}
:decorations 
{:end "arrow"}
:parentId "661a3106-31b7-40a6-a4e8-1f264614ed0a"
:nonce 1712993728412
:italic false}}
:block/updated-at 1712993738073} 
{:block/created-at 1712993841088
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 4
:scale [1 1]
:pageId "共價鍵"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 174.9764961186912]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "77086d20-f968-11ee-a380-85ca1cd026a4"
:noFill false
:point [1288 616]
:parentId "661a3106-31b7-40a6-a4e8-1f264614ed0a"
:collapsedHeight 0
:nonce 1712993756735}}
:block/updated-at 1712993841088})
:pages (
{:block/uuid #uuid "661a3106-31b7-40a6-a4e8-1f264614ed0a"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "661a3106-31b7-40a6-a4e8-1f264614ed0a"
:name "化學"
:bindings 
{:664e0c10-f968-11ee-a380-85ca1cd026a4 
{:id "664e0c10-f968-11ee-a380-85ca1cd026a4"
:type "line"
:fromId "664e0c12-f968-11ee-a380-85ca1cd026a4"
:toId "d04574d0-f965-11ee-a380-85ca1cd026a4"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:664e0c11-f968-11ee-a380-85ca1cd026a4 
{:id "664e0c11-f968-11ee-a380-85ca1cd026a4"
:type "line"
:fromId "664e0c12-f968-11ee-a380-85ca1cd026a4"
:toId "567c3640-f968-11ee-a380-85ca1cd026a4"
:handleId "end"
:point [0.46 0.79]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("d04574d0-f965-11ee-a380-85ca1cd026a4" "d8c2c400-f965-11ee-a380-85ca1cd026a4" "567c3640-f968-11ee-a380-85ca1cd026a4" "664e0c12-f968-11ee-a380-85ca1cd026a4" "77086d20-f968-11ee-a380-85ca1cd026a4")}}
:block/updated-at 1712993841088
:block/created-at 1712992518765
:block/type "whiteboard"
:block/name "化學"
:block/original-name "化學"})}