:root {
  --display-pdf-arrows: none;
  --display-favorite-pages: block;
}

.dark-theme, html[data-theme=dark] {
  --arc-background-shell: #191919;
  --arc-background-card: #272727;
  --arc-background-overlay: rgba(255, 255, 255, 0.07);
  --arc-background-glass: rgba(35, 35, 35, 0.85);
  --arc-content-primary: rgba(255, 255, 255, 0.83);
  --arc-content-secondary: rgba(255, 255, 255, 0.5);
  --arc-content-tertiary: rgba(255, 255, 255, 0.25);
  --arc-content-divider: rgba(255, 255, 255, 0.12);
  --arc-accent-primary: hsla(206, 75%, 50%, 1);
}
